doctype
html.no-js(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Webpack Boilerplate
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="author" content="")
		meta(name="robots" content="")
		link(rel="stylesheet" href="http://localhost:3000/assets/css/style.css")

	body
		div.container
			h1.title Hello!
			p.description Webpack Boilerplate
				span
					i.far.fa-check-circle
		script(src="http://localhost:3000/assets/js/bundle.js")