/* Coolors Exported Palette - coolors.co/ed6a5a-fbfbf2-e5e6e4-7dcfb6-33ca7f */

/* HSL */
$color1: hsla(7%, 80%, 64%, 1);
$color2: hsla(60%, 53%, 97%, 1);
$color3: hsla(90%, 4%, 90%, 1);
$color4: hsla(162%, 46%, 65%, 1);
$color5: hsla(150%, 60%, 50%, 1);

/* RGB */
$color1: rgba(237, 106, 90, 1);
$color2: rgba(251, 251, 242, 1);
$color3: rgba(229, 230, 228, 1);
$color4: rgba(125, 207, 182, 1);
$color5: rgba(51, 202, 127, 1);
